@import helper._ 
@import helper.twitterBootstrap._

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script> 
	    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/ui-darkness/jquery-ui.min.css" rel="stylesheet">
  <style>
    .datepicker{
     
    }
  </style>
  
<script>
	 
	 function enableThursday(date) {

		  var day = date.getDay();
		 // If day == 1 then it is MOnday
		 if (day == 4) {
		 
		 return [true] ; 
		 
		 } else { 
		 
		 return [false] ;
		 }
  
	}
	
	 $(function() {
		 $( ".datepicker" ).datepicker({
		 maxDate: new Date(),
		 beforeShowDay: enableThursday,dateFormat: "dd/mm/yy",
		 beforeShow: function(){    
        	 $(".ui-datepicker").css('font-size', 12) 
   		},
		 });
	 });
</script>

@main{
	
	<div class="wrapper">
     	<div class="container" >
			 <div class="row">
            	<div class="span12 widthFor3TabStyles">
               		 <span>
                    	<div id="bc1" class="btn-group btn-breadcrumb">
       						<a href="@routes.Application.index()" class="btn btn-success homeButStyl"><i class="icon-home"></i></a>
            				<a href="#" class="btn btn-default" id="homeButtonStyles">TIMESHEET</a>
      					</div>
        			</span>
            		<span class="pull-right backButPositionStyle">
           				 <div>
           					<a href="@routes.Application.index()" class="btn btn-default backButtonStyl"><i class="icon-arrow-left"></i>BACK</a>
          				 </div>
        			</span>
        	
         		 <br><br>
         		 
         	@if(flash.containsKey("success")) {
		        <div class="alert alert-warning">
		            <strong>Done!</strong> @flash.get("success")
		        </div>
		    } 
	
	@helper.form(action = routes.Timesheets.getTimesheets()) {
	
			<div class="table-responsive shiftTableStyles" style="margin-top:10px;">
  				<table style="background-color: white;border-color: #fff;" class="table table-bordered">
  					<tr>
					  	<td>
            				<div class="clearfix" id="storeId_field">
								<label for="storeId" id="shiftTableTbodyStyles">Select Store</label>
									<div class="input">
										<select name="storeId" required style="width:200px;height:15px;font-size:11px;">
						            		<option class="blank" value="">-- Choose a Store --</option>
						  					@for(store <- Stores.getStoresList()){
							  					@if(store.id > 1){
							  					
							  						<option value="@store.id" >@store.name</option>
							  					}
						  					}
						  				</select>
									    <span class="help-inline"></span>
									</div>
							</div>
					  	</td>
					  	<td>
					  		<div class="clearfix" id="timesheetStartDate_field">
								<label for="timesheetStartDate" id="shiftTableTbodyStyles">Week Date</label>
									<div class="input">
										<input type="text" name="timesheetWeekDate" class="datepicker textBoxesStyles" required  />
									    <span class="help-inline"></span>
									</div>
							</div>
					  	</td>
            		</tr>
            	</table>
         	</div>
		
        <center><input type="submit" value="Get Timesheets" class="btn btn-primary" style="font-size: 10px;padding: 5px 10px 5px 10px;"></center>
        
        
	
	} <!-- form ends -->
				</div>
        	</div>
		</div>
	</div>
	
} <!-- main ends -->
