@(page : String, store : Store)



@link(action:String) = @{

    
   
    var url = page+"_"+action
   	url
    
}


@shiftlink(storeId:Long, term_head:String) = @{
    
      // Generate the link
    routes.Shifts.showBlank(storeId, term_head,"ADD")
    
}

@display()= @{

var result = "";

	
		if(Shifts.getOPENStatus()){
		   result = "disabled";
		}	
									  

result;
}

@main{

  
          
 			
      
        <div class="wrapper">
            <div class="container" >
			    <div class="row" style="margin-top:-10px;">
                    <div class="span12">
       					<span class="homeButtonSpan">
        					<div id="bc1" class="btn-group btn-breadcrumb">
            					<a href="@routes.Application.index()" class="btn btn-success" style="height: 25px;padding: 2px 20px 0px 10px;margin-top: -10px;"><i class="icon-home"></i></a>
            					<a href="#" class="btn btn-default" style="font-size: 10px;height: 25px;margin-top: -11px;padding:4px 10px 7px 20px;">@page</a>
        					</div>
        				</span>
        
         				<span class="pull-right" style="padding-right:180px;">
           					<div>
            					<a href="@routes.Application.index()" class="btn btn-default" style="font-size: 11px;padding: 3px 6px 1px 2px;"><i class="icon-arrow-left" style="font-size: 10px;"></i>BACK</a>
        					</div>
        				</span>      
            		
        		</div>
            	
                     	<br><br>
            
                        <div class="content mgTabStyles" style="margin-top: 14px;">
                            <div class="btn-controls">
                                <div class="btn-box-row  row-fluid">
                        			<div class="col-sm-6 col-md-6 manage1TabStyles">
									      <div class="panel panel-success mgTabStyles1">
									        <div class="panel-heading panelstyles">ADD</div>
                                				<div class="panel-body panelbodystyles">
		                                     	 	<a href="#myModal" role="button"  data-toggle="modal"><img src="@routes.Assets.at("images/tabImages/add.png")" class="img-responsive center-block" alt="Image" style="width:15%">
                                            		</a>
                                            		<p class="text-muted">Profit</p>
				                                     </div>
										   		</div> 
										  	</div>
			                                <div class="col-sm-6 col-md-6 manage1TabStyles viewDeleteStyles">
												<div class="panel panel-success mgTabStyles1">
									 				<div class="panel-heading panelstyles">VIEW</div>
                                						<div class="panel-body panelbodystyles">
						                                 		<a href="@routes.Application.showOptions(page,"VIEW")"><img src="@routes.Assets.at("images/tabImages/view.jpg")" class="img-responsive center-block" alt="Image" align="middle"  style="width:25%">
						                                    	</a>
						                                    	 <p class="text-muted">New Users</p>
						                                    	
			                                     		</div>
										   		</div> 
										  	</div>
		                                </div>
		                    		</div>
		               			</div> <!-- content -->
                        
                        
		                       <div class="content mgTabStyles">
		                            <div class="btn-controls">
		                                <div class="btn-box-row row-fluid">
		                                	<div class="col-sm-6 col-md-6 manage1TabStyles">
											<div class="panel panel-success mgTabStyles1">
											 	<div class="panel-heading panelstyles">MODIFY</div>
		                                			<div class="panel-body panelbodystyles">
				                                     	 	 <a href="@routes.Application.showOptions(page,"MODIFY")" ><img src="@routes.Assets.at("images/tabImages/modify.png")" class="img-responsive center-block" alt="Image" align="middle"  style="width:15%">
						                                    </a>
						                                    <p class="text-muted"> Growth</p>
						                                    
						                                     </div>
												   		</div> 
												  	</div>
												  	 @if((session.get("role")).contains("sa")){
					                                 <div class="col-sm-6 col-md-6 manage1TabStyles viewDeleteStyles">
														<div class="panel panel-success mgTabStyles1">
														 	<div class="panel-heading panelstyles panelstyles">DELETE</div>
					                                			<div class="panel-body">
								                                    <a href="@routes.Application.showOptions(page,"DELETE")"><img src="@routes.Assets.at("images/tabImages/delete.png")" class="img-responsive center-block" alt="Image" align="middle" style="width:15%">
								                                    </a>
												                   <p class="text-muted">New Users</p>
								                                  
					                                     		</div>
												   		</div> 
												  	</div>
				                                     }                                 
		                                </div>
		                             </div>
		                         </div> <!-- content -->                     
                      <div class="footer">
				          <hr/ style="margin-left: 17%; width: 70%;margin-top: -30px;">   
				            <div class="container">
							 	<p  class="pull-right footerStyle" style="margin-right: 125px;"> <b class="copyright">&copy; 2016 SRINI Group &nbsp;</b>All rights reserved.</p>
				            </div>
				        </div> <!-- footer -->
        
       
       
				       <!-- Model  start-->
				
						<div
						id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
						aria-hidden="true" style="background-color: rgba(0, 0, 0,0.3);">
						    <div class="modal-dialog" style="margin-top:8%;width:450px !important;">
						        <div class="modal-content">
						            <div class="modal-header" style="padding:0px;">
						                <!--   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
						                	<h3 id="myModalLabel" style="text-align:center;font-size:15px;">Select Terminal</h3>
						
						            </div>
						            <div class="modal-body" style="  width: 100%; padding-right: 0px; padding-left: 0px;">
						               <form action="@shiftlink(store.id,"")" method="GET" style="text-align:center;" id='shiftAddForm'>
				 						
								          <select id="thead" name="thead" class="form-control" style="width:50%; margin-left:20%">
											  @for(terminalHead <- store.terminalHeads) {
								                    
								                         <option value=@terminalHead.name >@terminalHead.name </option>
								                                            
								                  } 
								           </select>
								          
								           <hr style="width:100%"/>
								            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
								          <input type="submit" id="newshift" value="Add new Shift" class="btn btn-info" @display></p>
								        </form>
						            </div>
						            
						        </div>
						    </div>
						    </div>
				      
				 		 <!-- Model  end-->
				 		 
				 		 
					</div>
				</div>
			</div>
		</div> <!- wrapper -->
    
    }

										  	
										  	
	 		
                                
                                 