@(id: Long, salesHeadForm: Form[SalesHead])

@import helper._
 @import helper.twitterBootstrap._


@import java.lang.String; var fieldView = "";

@if(flash.get("pageAction").equals("VIEW") || flash.get("pageAction").equals("DELETE")){

	@{fieldView="disabled"}

}

@main{
 
	
	<div class="wrapper">
     	<div class="container" >
			 <div class="row">
            	<div class="span12 widthFor3TabStyles">
               		 <span>
                    	<div id="bc1" class="btn-group btn-breadcrumb">
       						<a href="@routes.Application.index()" class="btn btn-success homeButStyl"><i class="icon-home"></i></a>
            				<a href="@routes.Application.showOptions("SALES HEAD","ALL")" class="btn btn-default" id="homeButtonStyles">SALES HEAD</a>
            				<a href="#" class="btn btn-default" id="homeButtonStyles">@flash.get("pageAction")</a>
      					</div>
        			</span>
            		<span class="pull-right backButPositionStyle">
           				 <div>
           					<a href="@routes.Application.showOptions("SALES HEAD",flash.get("pageAction"))" class="btn btn-default backButtonStyl"><i class="icon-arrow-left"></i>BACK</a>
          				 </div>
        			</span>
        	
         		 <br><br>


	@if(flash.containsKey("success")) {
       <div class="alert alert-warning shiftEditTableStyles shiftEditTableFonts" style="padding:5px;">
			 <b style="font-size:12px;">Done!</b>@flash.get("success")
        </div>
    } 

   
 
	 @helper.form(action = routes.SalesHeads.update(id)) {


	<!-- panel-group -->
	<div class="panel-group shiftTableStyles shiftEditTableFonts" id="accordion" style="margin-top:10px;">
		
		<!-- panel-primary 1-->
   		<div class="panel panel-primary">
        	<div class="panel-heading panelStyleInAdd">
            	<a data-toggle="collapse" data-parent="#accordion" href="#accordionOne">
          			<h4 class="panel-title"  style="font-size:12px;">
          				<i class="icon-reorder"></i>&nbsp;
            			Edit SalesHead
            			<i class="icon-unlock icon-large pull-right"></i>
             		</h4>
             	</a>  
        	</div>
        	<div id="accordionOne" class="panel-collapse collapse in">
          		<div class="panel-body">
          			<div class="table-responsive"> 
        				<table class="table table-bordered" >
							<fieldset>
           						@helper.inputText(salesHeadForm("name"), '_label -> "Name",'class -> "textBoxesStyles", 'id -> "pageTextFontSize")
         						@helper.inputText(salesHeadForm("category"), '_label -> "Category",'class -> "textBoxesStyles", 'id -> "pageTextFontSize")
        					</fieldset>
						</table>
					</div>
            	</div>
        	</div>
      	</div><!-- panel-primary 1 End-->
      	
      	
      	 <!-- bottom div ,for submit and cancel button's -->
        <div style="height:50px; margin-right:50px;  margin-top:10px;">
        	<div>
            	<p style="text-align: right; /">  
				@if((flash.get("pageAction")).equals("MODIFY")){
					<input type="submit" class="btn btn-large btn-success" style="padding-right:30px; padding-left:30px; text-align:center;font-size:12px;">&nbsp;&nbsp;
					
				}
				@if((flash.get("pageAction")).equals("DELETE")){
					
	 				<a href="@routes.SalesHeads.delete(id)" class="btn btn-danger" onclick="return confirm('Are you sure Want to Delete ?')">Delete</a>
	 				
	 			}
 				</p>
		    </div>
        </div>
       
    
    </div><!-- panel-group End-->


}<!-- form end -->
			</div>
        	</div>
	</div>
	</div>

}<!-- main end -->

