 @main{
 <style>
.img-responsive {
    width: 60px;
}
</style>
         
   
         <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="span12 accHomeStyle">
                    
                 	  <div class="content">
                            <div class="btn-controls">
                                <div class="btn-box-row row-fluid">
                                	 <div class="col-sm-4 col-md-4 userTabInAccHome">
									      <div class="panel panel-success" style="background-color:#D9F5DB!important;">
									        <div class="panel-heading panelstyles">TIMESHEET</div>
                                				<div class="panel-body panelbodystyles">
				                                	<a href="@routes.Application.showOptions("ADD TIMESHEET","ALL")"><img src="@routes.Assets.at("images/tabImages/timesheet.png")" class="img-responsive center-block" alt="Image" align="middle" style="width:45px;">
					                                  </a>
					                                   <p class="text-muted pTextInHomeStore">
					                                           Head Office Time Sheet</p>
					                              </div>
										   		</div> 
										  	</div>
                                </div>
                           </div>
                       </div> <!-- content -->
                  
                                               
				        <div class="footer shiftEditTableStyles" style="color: #999;">
				          <hr/>   
				            <div class="container">
				               <p  class="pull-right" style="margin-right: 24%;"> <b class="copyright">&copy; 2014 SRINI Group &nbsp;</b>All rights reserved.</p>
				            </div> <!-- container -->
				        </div> <!-- footer -->
        
       
       				</div> <!-- span 12 -->
        		</div> <!-- row -->
      		</div> <!-- container -->
     	</div> <!-- wrapper -->
	
}