 @main{
   
         <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="span12 accHomeStyle">
                      
                 	  <div class="content">
                            <div class="btn-controls">
                                <div class="btn-box-row row-fluid">
                                	 <div class="col-sm-4" col-md-4 userTabInAccHome">
									      <div class="panel panel-success" style="background-color:#D9F5DB!important;">
									        <div class="panel-heading panelstyles">MANAGEMENT REPORTS</div>
                                				<div class="panel-body panelbodystyles">
                                
				                                   <a href="@routes.ManagementReports.getReportsHome()"><img src="@routes.Assets.at("images/tabImages/rep.png")" class="img-responsive center-block" alt="Image" align="middle" style="width:60px;">
				                                        <p class="text-muted pTextInHomeStore">
				                                            View Managed Reports</p>
				                                    </a>
                                    				</div>
                           					</div>
                           				</div>
                                    
                                   
                                       
                                </div>
                           </div>
                       </div> <!-- content -->
                  
                                               
				        <div class="footer">
				          <hr/ style="width: 80%;margin-left: 2%;">   
				            <div class="container">
				               <p style="margin-left:60.5%;"> <b class="copyright">&copy; 2014 SRINI Group &nbsp;</b>All rights reserved.</p>
				            </div>
					 </div> <!-- footer -->
        
       
       				</div> <!-- span 12 -->
        		</div> <!-- row -->
      		</div> <!-- container -->
     	</div> <!-- wrapper -->
	
}