 @main{
 <style>
.img-responsive {
    width: 60px;
}

</style>
           
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="span12 widthFor4TabStyles">
                        
                        <div class="content">
                            <div class="btn-controls">
                                <div class="btn-box-row row-fluid">
                                     <div class="col-sm-3 col-md-3 userTabInAccHome">
									      <div class="panel panel-success panelTStyles">
									        <div class="panel-heading panelstyles">REPORTS</div>
                                				<div class="panel-body panelbodystyles">
			                                		<a href="@routes.Reports.getReportHome()"><img src="@routes.Assets.at("images/tabImages/rep.png")" class="img-responsive center-block" alt="Image">
			                                        <p class="text-muted pTextInHomeStore"> Repordts Generation</p>
			                                   		 </a>
	                                     		</div>
										      </div> 
										   </div>
										 
	                                     <div class="col-sm-3 col-md-3 userTabInAccHome">
									      <div class="panel panel-success panelTStyles">
									        <div class="panel-heading panelstyles">TIMESHEET</div>
                                				<div class="panel-body panelbodystyles">
				                                     <a href="@routes.Timesheets.showSelectPage()"><img src="@routes.Assets.at("images/tabImages/timesheet.png")" class="img-responsive center-block" alt="Image">
				                                        <p class="text-muted pTextInHomeStore">Timesheet Processing</p>
				                                     </a>
	                                     		</div>
										   </div> 
										  </div>
										   <div class="col-sm-3 col-md-3 userTabInAccHome">
									      <div class="panel panel-success panelTStyles">
									        <div class="panel-heading panelstyles">MONTHLY REPORTS</div>
                                				<div class="panel-body panelbodystyles">
				                                  	<a href="@routes.MonthlyReports.viewUploadedReports()"><img src="@routes.Assets.at("images/tabImages/mreports1.png")" class="img-responsive center-block" alt="Image">
				                                        <p class="text-muted pTextInHomeStore">View Monthly Reports</p>
				                                   	</a>  
	                                     		</div>
										   </div> 
										  </div>
                                   		    <div class="col-sm-3 col-md-3 userTabInAccHome">
									      	<div class="panel panel-success panelTStyles">
									        	<div class="panel-heading panelstyles" style="word-break:break-all;">RECONCILATION</div>
                                					<div class="panel-body panelbodystyles">
													 <a href="@routes.DailyReconciliations.drViewOptions(0,"reportingBusinessDate","desc","SUBMITTED","VIEW")"><img src="@routes.Assets.at("images/tabImages/mrep.png")" class="img-responsive center-block" alt="Image">
				                                        <p class="text-muted pTextInHomeStore"> Monitor Reconciliation</p>
				                                   	</a>
                                    
				                                    </div>
										      </div> 
										   </div>
                                   
                            	</div>
                        	</div>
                        </div>  <!-- content -->
                                  
                        
                       <div class="content">
                            <div class="btn-controls">
                                <div class="btn-box-row row-fluid">
                                	 <div class="col-sm-3 col-md-3 userTabInAccHome">
									      <div class="panel panel-success panelTStyles">
									        <div class="panel-heading panelstyles">INVOICE INVENTORY</div>
                                				<div class="panel-body panelbodystyles">
			                                		<a href="@routes.InvoiceInventory.showDownloadPage()"><img src="@routes.Assets.at("images/tabImages/invoicedownload.png")" class="img-responsive center-block" alt="Image">
			                                   		 </a>
			                                        <p class="text-muted pTextInHomeStore"> Invoice Processing </p>
			                                   		 
	                                     		</div>
										      </div> 
										   </div>
										 
	                                     <div class="col-sm-3 col-md-3 userTabInAccHome">
									      <div class="panel panel-success panelTStyles">
									        <div class="panel-heading panelstyles">INVOICE UPLOAD</div>
                                				<div class="panel-body panelbodystyles">
				                                     <a href="@routes.InvoiceInventory.showUploadPageForHeadOffice()"><img src="@routes.Assets.at("images/tabImages/upload1.png")" class="img-responsive center-block" alt="Image">
				                                     </a>
				                                     <p class="text-muted pTextInHomeStore"> Upload By Head Office</p>
				                                     
	                                     		</div>
										   </div> 
										  </div>
										   <div class="col-sm-3 col-md-3 userTabInAccHome">
									      <div class="panel panel-success panelTStyles">
									        <div class="panel-heading panelstyles">INVOICE PAYMENT</div>
                                				<div class="panel-body panelbodystyles">
				                                  	 <a href="@routes.InvoiceInventory.showPaymentPage("noCompany","noStore","noCategory","noPaymentTerm")"><img src="@routes.Assets.at("images/tabImages/payment.png")" class="img-responsive center-block" alt="Image">
				                                   	</a>  
				                                    <p class="text-muted pTextInHomeStore">Payments Done Here</p>
				                                   	
	                                     		</div>
										   </div> 
										  </div>
                                   		    <div class="col-sm-3 col-md-3 userTabInAccHome">
									      	<div class="panel panel-success panelTStyles">
									        	<div class="panel-heading panelstyles">SUPPLIER</div>
                                					<div class="panel-body panelbodystyles">
													 <a href="@routes.Application.showOptions("SUPPLIER","ALL")"><img src="@routes.Assets.at("images/tabImages/supp.png")" class="img-responsive center-block" alt="Image">
													</a>
                                    				<p class="text-muted pTextInHomeStore">Supplier</p>	
                                    
				                                    </div>
										      </div> 
										   </div>
                                   
                                </div>
                           </div>
                       </div> <!-- content -->
             
                                               
				        <div class="footer" style="width:78%;margin-top:-26px;margin-left:10px;">
				          <hr/>   
				            <div class="container"  style="width:80%;">
				               <p  class="pull-right" style="margin-right: -110px;"> <b class="copyright">&copy; 2014 SRINI Group &nbsp;</b>All rights reserved.</p>
				            </div> <!-- container -->
				        </div> <!-- footer -->
          </div> <!-- content -->
                 
       				</div> <!-- span 12 -->
        		</div> <!-- row -->
      		</div> <!-- container -->
     	</div> <!-- wrapper -->
	
}

 
                                