
@(supplierForm: Form[Supplier], contactForm: Form[ContactInfo], addressForm: Form[Address] )
 @import helper._ 
 @import helper.twitterBootstrap._


@main{

	<div class="wrapper">
     	<div class="container" >
			 <div class="row">
            	<div class="span12 widthFor3TabStyles">
               		 <span>
                    	<div id="bc1" class="btn-group btn-breadcrumb">
       						<a href="@routes.Application.index()" class="btn btn-success homeButStyl"><i class="icon-home"></i></a>
            				<a href="@routes.Application.showOptions("SUPPLIER","ALL")" class="btn btn-default" id="homeButtonStyles">SUPPLIER</a>
            				<a href="#" class="btn btn-default" id="homeButtonStyles">ADD</a>
      					</div>
        			</span>
            		<span class="pull-right backButPositionStyle">
           				 <div>
           					<a href="@routes.Application.showOptions("SUPPLIER","ALL")" class="btn btn-default backButtonStyl"><i class="icon-arrow-left"></i>BACK</a>
          				 </div>
        			</span>
        		
         		 <br><br>
         		 
    @if(flash.containsKey("success")) {
        <div class="alert alert-warning shiftEditTableStyles shiftEditTableFonts" style="padding:5px;">
			 <b style="font-size:12px">Done!</b> @flash.get("success")
        </div>
    } 
     
@helper.form(action = routes.Suppliers.save()) {

	<!-- panel-group -->
	<div class="panel-group  shiftTableStyles" id="accordion" style="margin-top:10px;">
		
		<!-- panel-primary 1-->
   		<div class="panel panel-primary shiftEditTableFonts">
        	<div class="panel-heading panelStyleInAdd">
            	<a data-toggle="collapse" data-parent="#accordion" href="#accordionOne">
          			<h4 class="panel-title shiftEditTableFonts" style="font-size:12px;">
          				<i class="icon-reorder"></i>&nbsp;
            			Supplier Details
            			<i class="icon-unlock icon-large pull-right"></i>
             		</h4>
             	</a>
             	  
        	</div>
        	<div id="accordionOne" class="panel-collapse collapse in">
          		<div class="panel-body panelBodyStylesInAddEdit">
          			<div class="table-responsive"> 
        				<table class="table table-bordered shiftEditTableFonts" >
							<tr class="shiftEditTableFonts">
								<td> @helper.inputText(supplierForm("name"), '_label -> "Supplier Name",'id -> "pageTextFontSize", 'onblur -> "javascript:checkForUnique(this,'SUPPLIER','NAME');")</td>
								<td>@helper.inputText(supplierForm("description"), '_label -> "Supplier Description" ,'id -> "pageTextFontSize")</td>
							</tr>
							<tr class="shiftEditTableFonts">
								<td> @helper.inputText(supplierForm("abn"), '_label -> "Supplier ABN" ,'id -> "pageTextFontSize") </td>
								<td></td>
							</tr>
						</table>
					</div>
            	</div>
        	</div>
      	</div><!-- panel-primary 1 End-->
      	
      	<!-- panel-primary 2-->
      	<div class="panel panel-primary">
        	<div class="panel-heading panelStyleInAdd">
            	<a data-toggle="collapse" data-parent="#accordion" href="#accordionTwo">
          			<h4 class="panel-title" style="font-size:12px;">
          				<i class="icon-reorder"></i>&nbsp;
              			Contact Info
              			<i class="icon-lock icon-large pull-right"></i>
          			</h4>
                </a>
        	</div>
        	<div id="accordionTwo" class="panel-collapse collapse">
          		<div class="panel-body panelBodyStylesInAddEdit">
           			<div class="table-responsive"> 
        				<table class="table table-bordered shiftEditTableFonts" >
							<tr>
								<td>
									 @helper.inputText(contactForm("phone1"), '_label -> "Phone1 :" ,'id -> "pageTextFontSize")
								</td>
								
								<td>
									 @helper.inputText(contactForm("email"), '_label -> "E-Mail :" ,'id -> "pageTextFontSize")
								</td>
							</tr>
							<tr>
								<td>  @helper.inputText(contactForm("phone2"), '_label -> "Phone2" ,'id -> "pageTextFontSize") </td>
								
								
								<td>
									@helper.inputText(contactForm("phone2"), '_label -> "Facsmile :" ,'id -> "pageTextFontSize")
								</td>
							</tr>
						</table>
					</div>
      			</div>
        	</div>
      	</div><!-- panel-primary 2 End-->
      	
      	<!-- panel-primary 3-->
      	<div class="panel panel-primary">
        	<div class="panel-heading panelStyleInAdd">
            	<a data-toggle="collapse" data-parent="#accordion" href="#accordionThree">
          			<h4 class="panel-title" style="font-size:12px;">
          				<i class="icon-reorder"></i>&nbsp;
              			Address Info
              			<i class="icon-lock icon-large pull-right"></i>
          			</h4>
                </a>
        	</div>
        	<div id="accordionThree" class="panel-collapse collapse">
          		<div class="panel-body panel3BodyStylesInAddEdit">
           			<div class="table-responsive"> 
        				<table class="table table-bordered shiftEditTableFonts" >
							<tr colspan=2>
								<td>
									<p><label>Search Address</label>
									<input class="text_field" id="addressid" name="searchAddress" type="text" value="" style="width:500px;font-size:11px;" onblur="getParsedAddress();getSimilar();"/></p>
									<p><label>Similar Addresses </label>
				                  	<select class="text_field" id="similarAddressesid" name="similarAddresses" size="5" style="width:510px;font-size:11px;" onchange="similarAddressesChange()" multiple></select></p>
				                </td>
								<td></td>
							</tr>
							<tr>
								<td> @helper.inputText(addressForm("street"), '_label -> "Street" ,'id -> "pageTextFontSize")</td>
								
								<td> @helper.inputText(addressForm("city"), '_label -> "City :" ,'id -> "pageTextFontSize") </td>
								
							</tr>
							<tr>
								<td>@helper.inputText(addressForm("number"), '_label -> "Number :" ,'id -> "pageTextFontSize")  </td>
								
								
								<td>
									@helper.inputText(addressForm("state"), '_label -> "State :" ,'id -> "pageTextFontSize")
								</td>
							</tr>
							<tr>
								<td> @helper.inputText(addressForm("postalCode"), '_label -> "PostalCode :" ,'id -> "pageTextFontSize") </td>
								
								<td>  @helper.inputText(addressForm("country"), '_label -> "Country :" ,'id -> "pageTextFontSize") </td>
								
							</tr>
						</table>
					</div>
      			</div>
        	</div>
      	</div><!-- panel-primary 3 End-->
      	
      	      	
      	<!-- bottom div ,for submit and cancel button's -->
        <div style="height:50px; margin-right:50px;  margin-top:10px;">
        	<div>
            	<p style="text-align: right; /"><input type="submit" class="btn btn-large btn-success" style="padding-right:30px; padding-left:30px; text-align:center;font-size:12px;">&nbsp;&nbsp;  
				
		    </div>
        </div>
        
    
    </div><!-- panel-group End-->
  
}<!-- form end -->
		</div>
        	</div>
	</div>
	</div>

}<!-- main end -->
